body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.html {
    scroll-behavior: smooth;
}

.hero {
    /*background: url(../../assets/images/hero.jpeg) no-repeat center center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-top: -150px;
}
.nosotros {
    height: auto;
    margin-bottom: 100px;
}
.nosotros h2 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0 20px 0 20px;
}
.nosotros p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding: 0 20px 0 20px;
}
.nosotros a {
    text-decoration: none;
    color: grey;
}
.nosotros a:hover {
    text-decoration: none;
    color: #333;
}
.nosotros img {
    height: auto;
    width: 100%;
    padding: 20px;
}
.preFooter {
    background: url(../../assets/images/imagen-footer.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 550px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
}
.preFooter article p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.navbar {
    background-color: transparent !important;
    font-size: 13px;
    font-weight: bold;
}
.navbar ul li a {
    color: black !important;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
    border: solid 2px transparent;
    border-radius: 5px;
}
.navbar ul li a:hover {
    color: black !important;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
    border: solid 2px black;
    border-radius: 5px;
}
.gris {
    background-color: #F6F6F6;
    height: auto;
    margin: 0;
    padding: 0;
}
.gris article p {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: left;
    text-align: left;
    padding: 100px 30px 0 15px;
}
.gris article p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.gris a {
    color: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 100px 30px 0 15px;
}
.gris img {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}
.tituloDescripcion {
    font-size: 90px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    padding-left: 70px;
}
.tituloHealthtech {
    font-size: 90px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-left: 70px;
}
.contenedorTitulo  {
    margin-top: 50px;
}
.contenedorTitulo h2  {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: bold;
}
.footer {
    background-color: black;
    height: 350px;
}
.footer h2 {
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 140px;
}
.pie {
    background-color: #AAA8A8;
    height: auto;
    color: black;
    padding: 20px;
}
.pie a {
    color: #333;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.pie a:hover {
    color: #333;
    text-decoration: underline;
}
.logo {
    padding-top: 20px;
}
.logo img {
    height: auto;
    width: 60%;
}
.textSpace {
    padding-left: 20px;
}
.copy {
    background-color: red;
}
.copy h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 110px;
    font-weight: bolder;
    color: black;
    text-align: left;
    text-transform: uppercase;
    line-height: 100px;
    margin-top: 50px;
}
.btnCopy {
    float: left !important;
    width: 30%;
    margin-top: 30px;
    height: 50px;
    border: solid 2px red;
    background-color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: red;
    font-weight: bold;
}
.copy p {
    color: grey;
    margin-top: 30px;
    padding-right: 20px;
    margin-bottom: -15px;
    text-align: left;
}
.footer p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: 120px;
}
.contenidoAdtech {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.contenidoAdtech article p {
    line-height: 40px;
}
.btn-whatsapp {
    display: block;
    width: 80px;
    height: 100px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;
  }
  .btn-whatsapp:hover {
    opacity: 0.5;
  }
.cuerpo {
    height: auto;
    background-color: #F6F6F6;
    padding: 100px 0 100px 0;
}
.healthtech {
    padding: 100px 0 100px 0;
}
.health {
    border-top: solid 10px white;
}

.grisServicios {
    background-color: #F6F6F6;
    height: auto;
    padding: 80px 50px 50px 50px;
} 
.grisServicios article p {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: left;
    text-align: left;
}
.grisServicios article p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.contenidoNosotros article p {
    height: auto;
    padding: 50px 0 50px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 30px;
}
.imagenForm {
    margin: 0;
    padding: 0;
}


.contenidoContacto {
    margin-bottom: 100px;
    padding-top: 50px;
}
.contenidoContacto input {
    height: 60px;
    border-radius: 0;
}

.btnContacto {
    width: 100%;
    border: none;
    height: 45px;
    border: solid 1px black;
    background-color: transparent;
}
.btnContacto:hover{
    width: 100%;
    border: none;
    height: 45px;
    background-color: black;
    color: white;
}




.contenidoIndex {
    height: auto;
    background-color: #F6F6F6;
    color: grey;
}
.contenidoIndex a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.contenidoIndex a:hover {
    color: black;
    text-decoration: underline;
}
.contenidoIndex img {
    margin: 0;
    padding: 0;
}
.ajusteColumna {
    height: auto;
    padding: 0;
    margin: 0;
}

.ajusteColumnaImagen img {
    height: auto;
    width: 100%;
}
.ajusteColumnaImagenHero img {
    height: 100vh;
    width: 100%;
}

.copyText h2 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 85px;
    font-weight: bold;
    line-height: 80px;
    color: black;
    margin-top: 280px;
}
.copyText h3 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    width: auto;
    color: black;
}

.textoContenidoIndex {
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}


.contenidoBlog {
    text-align: center;
    height: auto;
    margin-bottom: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
}



.contenidoBlog img {
    height: auto;
    width: 100%;
    margin-top: 50px;
}


.contenidoBlog h2 {
    font-size: 18px;
    margin-top: 15px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
}

.contenidoBlog p {
    font-size: 15px;
    margin-top: 15px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: grey;
}

.btnVerMas {
    width: 100%;
    border: none;
    height: 45px;
    border: solid 1px black;
    background-color: transparent;
}
.btnVerMas:hover{
    width: 100%;
    border: none;
    height: 45px;
    background-color: black;
    color: white;
}
.contenidoSumate {
    height: auto;
    padding-bottom: 100px;
    padding-top: 100px;
}


.contenidoSumate h2 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
}
.contenidoSumate input {
    height: 60px;
    border-radius: 0;
}

.contenidoSingle {
    height: auto;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.contenidoSingle img {
    height: auto;
    width: 100%;
}
.contenidoSingle h2 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.contenidoSingle article p {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 30px;
}
.heroBack {
    margin-top: -150px;

}
/*

   _____             .___.__        
  /     \   ____   __| _/|__|____   
 /  \ /  \_/ __ \ / __ | |  \__  \  
/    Y    \  ___// /_/ | |  |/ __ \_
\____|__  /\___  >____ | |__(____  /
        \/     \/     \/         \/ 
                           .__               
  ________ __   ___________|__| ____   ______
 / ____/  |  \_/ __ \_  __ \  |/ __ \ /  ___/
< <_|  |  |  /\  ___/|  | \/  \  ___/ \___ \ 
 \__   |____/  \___  >__|  |__|\___  >____  >
    |__|           \/              \/     \/ 

*/


@media (min-width: 320px) {}

@media (min-width: 425px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1440px) {}

@media (min-width: 2560px) {}






.red {
    border: solid 1px red;
}
.green {
    border: solid 1px green;
}
.violet {
    border: solid 1px violet;
}
.yellow {
    border: solid 1px yellow;
}
.blue {
    border: solid 1px blue;
}